.wrapper {
  display: flex;
  width: 900px;
  justify-content: center;
  align-items: center;
  margin: 70px auto;
}

.body {
  width: 100%;
}

.item {
  background-color: #ff5722;
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title {
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.9s cubic-bezier(0,1,0,1);
}

.content-show {
  height: auto;
  max-height: 9999;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}